.searchArea{
    width:500px; 
    height:40px; 
}
.resultArea{
    width:500px; 
}

.lyricsSearchArea{
    position: absolute;
    top: 10%;
    left: 30%;
}

// $color: rgba(136, 189, 138, 0.423);
// body{
//     background-color:$color;
// }